<?xml version="1.0"?>
<launch>
    <!-- Launch gazebo.launch in a new terminal -->
    <include file="$(find rtabmap_drone_example)/launch/gazebo.launch" launch-prefix="gnome-terminal -- bash -c">
    </include>

    <!-- Launch slamlatest.launch in a new terminal -->
    <include file="$(find rtabmap_drone_example)/launch/slam.launch" launch-prefix="gnome-terminal -- bash -c">
    </include>

    <!-- Launch rviz.launch in a new terminal -->
    <include file="$(find rtabmap_drone_example)/launch/rviz.launch" launch-prefix="gnome-terminal -- bash -c">
    </include>
    <node pkg="tf" type="static_transform_publisher" name="static_transform" output="screen"
          args="0 0 0 0 0 0 D435_camera_color_optical_frame D435_cameracolor 100"/>  
    
      <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform" output="screen"
          args="0 0 0 0 0 0 D435_camera_color_optical_frame D435_cameracolor 100"/> -->
          <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform" output="screen"
          args="0 0 0 -1.57 0 -1.57 D435_camera_left_ir_frame D435_cameraired2 100"/>
          <node pkg="tf" type="static_transform_publisher" name="static_transform2" output="screen"
          args="0 0 0 -1.57 0 -1.57 D435_camera_right_ir_frame D435_cameraired1 100"/> -->

          
</launch>
